
 /* common shared styles */
*{
padding: 0;
     margin: 0; 
   font-family: 'Work Sans', sans-serif;
   font-family: 'Open Sans', sans-serif;
}
:root{
    --light:#8758F1;
    --dark:#FF42A5 ;
    --text:linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.primary-color{
    color:var(--light);
}

h2{
    font-size: 3rem;
  
  }


/* header style */

 .header{
    padding: 10px 0;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.gamer-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.logo-part{
    gap: 20px;
    font-size: 2rem;
    font-weight: 700;
}
/* navigation design */
.navigation{
display: flex;
justify-content: center;
align-items: center;
gap: 30px;
}
.navigation > p a{
    text-decoration: none;
    color: #3C354F;
}
.logo-part> h2 > span{
    color:var(--dark) ;
}

/* banner section */


.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.banner-content h1{
    font-size: 5rem;
    background: var(--text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    margin:1.4rem 0px  2rem;
}
.banner-content p{
        color:#534C64;
        font-size: 1.2rem;
        line-height: 1.5;
        font-weight: 300; 
}
.banner-image{
    width: 50%;
}
/* buttons */
.banner-content-buttons{
    margin: 2rem 0rem;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.btn{
     font-size: 18px;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
padding: 15px 32px;
border-radius: 48px;
border: none;
color: #FFF;
cursor: pointer;
}
.first{
    background-color:#FF42A5;
}
.second{
    background-color: #4EC5F7;
}

/* gamer section */
.gamer-img,.play-instantly-content{
    width: 50%;
}
.gamer-content{
    width: 40%;
    text-align: right;
}

.gamer{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 50px ;
    /* gap: 100px; */
}
.gamer-bg{
    background-color: rgba(255, 66, 165, 0.03);
    ;
}
.gamer-content p{
    font-size: 18px;
    color: #534C64;
    font-weight: 300;
line-height: 30px; /* 166.667% */
margin: 20px 0;
}
.gamer-content h3{

    font-size: 26px;
    font-family: 700;
}
.gamer-content h2{
    background:var(--text);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
/* online games section */

.online-games{
    text-align: center;
    margin: 50px 0px;
}
.linier{
    color:var(--light);
    margin: 20px 0;
  }
  
.online-games-image-container{
    display: flex;
}
.online-games-image-card{
    width: 300px;
  height: 400px;
  margin: 30px 10px 10px;
}
.online-games-image-card img{
    width: 100%;
    height: auto;
  
}
.online-games-image-card p{
    font-size: 16px;
    line-height: 30px;
color: #534C64;
}

/* play instant */
.play-instant-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play-instantly-content{
    text-align: right;
    padding: 20px;
}
.play-instantly-image{
    width: 40%;
}
#play-instantly-image1{
   width: 70%;
}
#play-instantly-image2{
   width: 30%;
   position: relative;
   right: 50px;
   bottom: 70px;
}

/* upper footer  */



.upper-footer {
display: flex;
flex-wrap: wrap;
justify-content: center;
   gap: 30px;
   margin: 20px;
  
}

.upper-footer-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px ;
   max-width: 200px;
border-radius: 50px;
background: #fff;
padding: 5px 10px;

}
.upper-footer-card:hover{
    border: 1px solid red;
    color: red;
}
.upper-footer-card img{
    width: 40px;
}

@media only screen and (max-width: 576px){

    .logo-part img{
        height: 30px;
    }
.gamer-logo,.navigation{
    flex-direction: column;
}
 .header{
    padding: 40px;
    box-shadow: 0px 4px 30px 0px #fff;
}
.banner{
    flex-direction: column-reverse;
}
.banner-image{
    width: 90%;
}

.banner-content{
    padding: 100px  50px 0px;
}
.gamer,.play-instant-flex{
    flex-direction: column;
}
.gamer-img{
    width: 98%;
}
.gamer-content{
    width: 90%;
    text-align: center;
}
.gamer-content>p,.btn{
    font-size: 16px;
}

h2{
    font-size: 2rem;
  }
  .banner-content h1{
    font-size: 3.5rem;
    margin:10px 0px ;
  }
  .gamer-content h3{
    font-size: 22px;
    font-family: 700;
}
.online-games-image-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.online-games>p {
   font-size: 12px;
}
/* play instant */
.play-instantly-image,.play-instantly-content{
    width: 90%;
    text-align: center;
    margin-top: 30px;
}
.play-instantly-content{
    text-align: center;
    padding: 10px;
}
#play-instantly-image2{
 
    right: 100px;
 
 }
 /* upper footer */

 .upper-footer {
  
       gap: 20px;
       margin: 20px;
      
    }
    
    .upper-footer-card{
    
        gap: 10px ;
       max-width: 80px;
    border-radius: 50px;
    background: #fff;
  
    
    }
    .upper-footer-card img{
        width:30px ;
    }
    .upper-footer-card span{
        font-size: 13px;
    }
}
@media only screen and (min-width: 576px) and (max-width:769px){
    .container{
        max-width: 700px;
        margin: auto;
        padding: 10px 0px;

    }
  
    .gamer,.play-instant-flex{
        flex-direction: column;
    }
    .gamer-img{
        width: 98%;
    }
    .gamer-content{
        width: 90%;
        text-align: center;
    }
    .banner{
        flex-direction: column-reverse;
    
    }
    .banner-image{
        width: 98%;
    }
    .banner-content{
        width: 50%;
    }
    .online-games-image-card{
        width: 200px;
      height: 300px;
      margin: 20px 10px 10px;
    }
    .online-games p {
        font-size: 12px;
     }
     /* play instantly */
     .play-instantly-image,.play-instantly-content{
        width: 90%;
        text-align: center;
        margin-top: 50px;
    }
    .play-instantly-content{
        text-align: center;
        padding: 0px;
    }
    #play-instantly-image2{
 
        right: 200px;
     
     }
     
.upper-footer {
       gap: 10px;
       margin: 20px;
      
    }
    
    .upper-footer-card{
        gap: 20px ;
       max-width: 180px;
    }
}